<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Picxel Studio</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src=""></script>
</head>
<body class="bg-gray-200">
    <!-- navigation bar start -->
    <nav class="bg-gray-700 shadow-lg">
        <div class="max-w-6xl mx-auto px-3">
            <div class="flex">
                <!--Logo-->
                <div class="flex p-4 items-center"> 
                    <div class="w-20 h-20 text-green-500 font-bold mr-4">
                        <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="stroke-green-500 stroke-2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5"></path>
                        </svg>
                    </div>
                    <div class="text-center mx-auto">
                        <div class="uppercase text-4xl text-gray-300 font-bold tracking-wider">picxel studio</div>
                        <span class="uppercase text-xs text-green-500 font-bold tracking-wider text-center">design that matters</span>
                    </div>
                    
                </div>
                <!--Menus-->
                <div class="hidden md:flex space-x-10 items-center ml-6">
                    <div class="capitalize text-gray-200 hover:text-green-500 transition duration-300"><a href="">home</div></a>
                    <div class="capitalize text-gray-200 hover:text-green-500 transition duration-300"><a href="">porfolio</div></a>
                    <div class="capitalize text-gray-200 hover:text-green-500 transition duration-300"><a href="">our work</div></a>       
                    <div class="capitalize text-gray-200 hover:text-green-500 transition duration-300"><a href="">testimony</div></a>        
                    <div class="capitalize text-gray-200 hover:text-green-500 transition duration-300"><a href="">contact</div></a>        
                </div>
            </div>
        </div>
    </nav>
    <!--navigation bar ends-->
    <!-- banner starts -->
    <main class="mt-20 px-4 mx-auto max-w-7xl gap-4">
        <div class="mx-auto text-center p-4">
            
            <div class="h-10 w-10 ml-72 text-green-500 rotate-12">
                <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path d="M3.105 2.289a.75.75 0 00-.826.95l1.414 4.925A1.5 1.5 0 005.135 9.25h6.115a.75.75 0 010 1.5H5.135a1.5 1.5 0 00-1.442 1.086l-1.414 4.926a.75.75 0 00.826.95 28.896 28.896 0 0015.293-7.154.75.75 0 000-1.115A28.897 28.897 0 003.105 2.289z"></path>
                </svg>
            </div>

            <div class="flex items-center">
                <div class="h-20 w-20 text-blue-500">
                    <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M4.606 12.97a.75.75 0 01-.134 1.051 2.494 2.494 0 00-.93 2.437 2.494 2.494 0 002.437-.93.75.75 0 111.186.918 3.995 3.995 0 01-4.482 1.332.75.75 0 01-.461-.461 3.994 3.994 0 011.332-4.482.75.75 0 011.052.134z"></path>
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M5.752 12A13.07 13.07 0 008 14.248v4.002c0 .414.336.75.75.75a5 5 0 004.797-6.414 12.984 12.984 0 005.45-10.848.75.75 0 00-.735-.735 12.984 12.984 0 00-10.849 5.45A5 5 0 001 11.25c.001.414.337.75.751.75h4.002zM13 9a2 2 0 100-4 2 2 0 000 4z"></path>
                      </svg>
                </div>
                <div class="p-10">
                    <h1 class="capitalize text-gray-500 xs:text-xl sm:text-3xl md:text-6xl font-semibold tracking-wider mb-3">we design and develop remarkable digital and non digital products</h1>
                </div>
                <div class="h-20 w-20 text-yellow-500">
                    <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path d="M12 9a1 1 0 01-1-1V3c0-.553.45-1.008.997-.93a7.004 7.004 0 015.933 5.933c.078.547-.378.997-.93.997h-5z"></path>
                        <path d="M8.003 4.07C8.55 3.992 9 4.447 9 5v5a1 1 0 001 1h5c.552 0 1.008.45.93.997A7.001 7.001 0 012 11a7.002 7.002 0 016.003-6.93z"></path>
                      </svg>
                </div>
            </div>
            <span class="text-sm text-gray-500 capitalize">web design, web applications, printing materials</span>
            <div class="flex justify-between mt-10">
                <div class="h-10 w-10 text-red-500">
                    <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M6.111 11.89A5.5 5.5 0 1115.501 8 .75.75 0 1017 8a7 7 0 10-11.95 4.95.75.75 0 001.06-1.06zm2.121-5.658a2.5 2.5 0 000 3.536.75.75 0 11-1.06 1.06A4 4 0 1114 8a.75.75 0 01-1.5 0 2.5 2.5 0 00-4.268-1.768zm2.534 1.279a.75.75 0 00-1.37.364l-.492 6.861a.75.75 0 001.204.65l1.043-.799.985 3.678a.75.75 0 001.45-.388l-.978-3.646 1.292.204a.75.75 0 00.74-1.16l-3.874-5.764z"></path>
                      </svg>
                </div>
                <div class="">                
                    <a href="" class="capitalize bg-green-500 shadow-sm text-lg font-medium text-gray-200 px-8 py-4 rounded-lg hover:ring-4 hover:ring-yellow-500 hover:text-yellow-300 transition duration-300">view our work</a>
                </div>
                <div class="h-10 w-10 text-indigo-500">
                    <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M10 2.5c-1.31 0-2.526.386-3.546 1.051a.75.75 0 01-.82-1.256A8 8 0 0118 9a22.47 22.47 0 01-1.228 7.351.75.75 0 11-1.417-.49A20.97 20.97 0 0016.5 9 6.5 6.5 0 0010 2.5zM4.333 4.416a.75.75 0 01.218 1.038A6.466 6.466 0 003.5 9a7.966 7.966 0 01-1.293 4.362.75.75 0 01-1.257-.819A6.466 6.466 0 002 9c0-1.61.476-3.11 1.295-4.365a.75.75 0 011.038-.219zM10 6.12a3 3 0 00-3.001 3.041 11.455 11.455 0 01-2.697 7.24.75.75 0 01-1.148-.965A9.957 9.957 0 005.5 9c0-.028.002-.055.004-.082a4.5 4.5 0 018.996.084V9.15l-.005.297a.75.75 0 11-1.5-.034c.003-.11.004-.219.005-.328a3 3 0 00-3-2.965zm0 2.13a.75.75 0 01.75.75c0 3.51-1.187 6.745-3.181 9.323a.75.75 0 11-1.186-.918A13.687 13.687 0 009.25 9a.75.75 0 01.75-.75zm3.529 3.698a.75.75 0 01.584.885 18.883 18.883 0 01-2.257 5.84.75.75 0 11-1.29-.764 17.386 17.386 0 002.078-5.377.75.75 0 01.885-.584z"></path>
                      </svg>
                </div>
            </div>
            
        </div>

    </main>
    <!-- banner ends -->

    <!-- porfolio starts -->
    <div class="max-w-7xl mx-auto mt-32">
        <div class="text-center">
            <span class="capitalize text-xl text-green-500 font-semibold">about me</span>
            <h1 class="capitalize text-gray-500 xs:text-xl sm:text-3xl md:text-6xl font-semibold tracking-wider mb-3">a passionate developer who loves designing and coding</h1>
        </div>
        <div class="flex justify-between mt-20 gap-4">
            <!--Left-->
            <div class="w-1/2 p-8">
                <div class="grid grid-cols-2">
                    <div class="">
                        <div class="w-1/2">
                            <img src="/static/img/design.png" alt="">
                        </div>    
                    </div>
                    <div class="w-1/2 items-center justify-center">
                        <div class="">
                            <img src="/static/img/male-avatar-faiz.png" alt="avatar" class="rounded-full w-auto h-auto shadow-2xl text-center">
                        </div>
                        <div class="flex p-8 items-center align-middle">
                            <h2 class="text-gray-500 text-8xl font-semibold">20</h2>
                            <span class="text-gray-500 text-md ml-4 font-medium">IT Experience Years</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--right-->
            <div class="w-1/2 p-4">
                <span class="text-2xl font-semibold text-gray-500">About Me</span>
                <p class="mt-10 text-gray-500 font-normal">Lorem ipsum dolor sit, amet consectetur adipisicing elit. A mollitia iusto, provident obcaecati blanditiis expedita quisquam nisi distinctio animi minima consectetur placeat beatae quis recusandae. Voluptatibus iure quia fuga aliquid.</p>
                <div class="grid grid-cols-1 mt-4 md:grid-cols-1 lg:grid-cols-2 md:p-8">
                    <div class="col1">
                        <div class="text-gray-500 mb-4">
                            <h3 class="capitalize font-bold">name</h3>
                            <span class="">Faiz Kadir Ismail</span>
                        </div>
                        <div class="text-gray-500 mb-4">
                            <h3 class="capitalize font-bold">email</h3>
                            <span class="">info@picxelstudio.com</span>
                        </div>
                        <div class="text-gray-500 mb-4">
                            <h3 class="capitalize font-bold">phone</h3>
                            <span class="capitalize">+6 012 230 9536</span>
                        </div>
                    </div>
                    <div class="col2">
                        <div class="text-gray-500 mb-4">
                            <h3 class="capitalize font-bold">address</h3>
                            <span class="capitalize">no 48 jalan sunsuria 3B/10, monet springtime, bandar sunsuria</span>
                        </div>
                        <div class="text-gray-500 mb-4">
                            <h3 class="capitalize font-bold">degree</h3>
                            <span class="">Bachelor in IT (Hons.) Management System </span>
                        </div>
                        <div class="text-gray-500 mb-4">
                            <h3 class="capitalize font-bold">freelance</h3>
                            <span class="capitalize">available on project basis</span>
                        </div>
                    </div>
                </div>
                <div class="bg-green-500 text-center mx-auto shadow-sm text-lg font-medium text-gray-200 px-8 py-4 rounded-full lg:w-1/2 hover:ring-4 hover:ring-yellow-500 hover:text-yellow-300 transition duration-300">
                    <a href="" class="">Download CV</a>
                </div>
            </div>
        </div>
    </div>
    <!-- porfolio ends -->

    <!-- what we do starts -->
    <main class="bg-green-100 mt-10 pt-24 pb-24">
        <!-- title  -->
        <div class="p-5 max-w-7xl mx-auto">
            <div class="mt-10">
                <h2 class="text-sm font-semibold text-green-500 uppercase mb-5">what we do</h2>
            </div>
            <div class="grid grid-cols-2">
                <div class="capitalize text-6xl">delivering quality products</div>
                <div class="flex">
                    <div class="flex items-center p-4">
                        <h2 class="text-6xl text-green-500 font-semibold mr-2">13</h2>
                        <span class="text-sm text-gray-500">Years Experience</span>
                    </div>
                    <div class="flex items-center p-4">
                        <h2 class="text-6xl text-green-500 font-semibold mr-2">28</h2>
                        <span class="text-sm text-gray-500">Designers, Developers and DB Administrators</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- cards -->
        <div class="mt-10 max-w-7xl mx-auto">
            <div class="grid grid-cols-3 gap-4">
                <div class="bg-white rounded-xl shadow-lg p-8">
                    <img src="/static/img/branding.png" alt="branding" class="h=20 w-20 mt-10 mb-10">
                    <h2 class="text-xl font-bold capitalize mb-4 tracking-wider">branding</h2>
                    <p class="tracking-widest text-gray-500 mb-10">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo mollitia, adipisci repellat repellendus repudiandae rem eos architecto temporibus neque, sed tenetur dolor aliquam vel laborum similique fuga blanditiis reiciendis voluptates.</p>
                    <div class="h-10 w-10 rounded-full bg-green-500">
                        <a href="" class="items-center text-center">
                            <svg class="text-white p-2" fill="currentColor" viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path clip-rule="evenodd" fill-rule="evenodd" d="M16.28 11.47a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 011.06-1.06l7.5 7.5z"></path>
                              </svg>
                        </a>
                    </div>
                </div>
                <div class="bg-white rounded-xl shadow-lg p-8">
                    <img src="/static/img/app-development.png" alt="branding" class="h=20 w-20 mt-10 mb-10">
                    <h2 class="text-xl font-bold capitalize mb-4 tracking-wider">development</h2>
                    <p class="tracking-widest text-gray-500 mb-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quod sit, quae quisquam eos ipsa. Numquam quidem accusamus magnam aspernatur libero obcaecati ex tempore, officiis velit corrupti. Nulla, quidem facilis!</p>
                    <div class="h-10 w-10 rounded-full bg-green-500">
                        <a href="" class="items-center text-center">
                            <svg class="text-white p-2" fill="currentColor" viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path clip-rule="evenodd" fill-rule="evenodd" d="M16.28 11.47a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 011.06-1.06l7.5 7.5z"></path>
                              </svg>
                        </a>
                    </div>
                </div>
                <div class="bg-white rounded-xl shadow-lg p-8">
                    <img src="/static/img/illustration.png" alt="branding" class="h=20 w-20 mt-10 mb-10">
                    <h2 class="text-xl font-bold capitalize mb-4 tracking-wider">design</h2>
                    <p class="tracking-widest text-gray-500 mb-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ad aspernatur tenetur cupiditate iste laudantium nihil, ipsum quibusdam similique ut alias quas consectetur repellat exercitationem facilis autem sit, ex voluptatem?</p>
                    <div class="h-10 w-10 rounded-full bg-green-500">
                        <a href="" class="items-center text-center">
                            <svg class="text-white p-2" fill="currentColor" viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path clip-rule="evenodd" fill-rule="evenodd" d="M16.28 11.47a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 011.06-1.06l7.5 7.5z"></path>
                              </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- what we do ends -->

    <!-- about us starts -->
    <div>
        
    </div>
    <!-- about us ends  -->
</body>
</html>